.u-section-1 .u-sheet-1 {
    min-height: 171px;
  }
  
  .u-section-1 .u-text-1 {
    font-weight: 700;
    font-size: 1.875rem;
    margin: 43px 0 0;
  }
  
  .u-section-1 .u-form-1 {
    height: 77px;
    width: 655px;
    margin: 15px auto 0;
  }
  
  .u-section-1 .u-btn-1 {
    border-style: none none solid;
    padding: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-text-1 {
      font-size: 1.5625rem;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 217px;
    }
  
    .u-section-1 .u-form-1 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-text-1 {
      font-size: 1.5rem;
      width: auto;
    }
  
    .u-section-1 .u-form-1 {
      width: 340px;
      margin-top: -1px;
      margin-bottom: 10px;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 238px;
  }
  
  .u-section-2 .u-table-1 {
    margin-top: 0;
    margin-bottom: 40px;
    margin-right: 0;
  }
  
  .u-section-2 .u-table-entity-1 {
    min-height: 100px;
  }
  
  .u-section-2 .u-table-header-1 {
    font-weight: 700;
    background-image: none;
  }
  
  .u-section-2 .u-icon-1 {
    margin-left: 115px;
    font-size: 2em;
    color: rgb(17, 17, 17) !important;
  }
  
  .u-section-2 .u-icon-2 {
    width: 16px;
    height: 22px;
    margin-left: 115px;
    font-size: 2em;
    color: rgb(17, 17, 17) !important;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-table-1 {
      margin-right: initial;
    }
  
    .u-section-2 .u-icon-1 {
      margin-left: 90px;
    }
  
    .u-section-2 .u-icon-2 {
      margin-left: 90px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-icon-1 {
      margin-left: 65px;
    }
  
    .u-section-2 .u-icon-2 {
      margin-left: 65px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-icon-1 {
      margin-left: 40px;
    }
  
    .u-section-2 .u-icon-2 {
      margin-left: 40px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-icon-1 {
      margin-left: 20px;
    }
  
    .u-section-2 .u-icon-2 {
      margin-left: 20px;
    }
  }