<section class="u-align-left u-clearfix u-section-1" id="sec-c5fa">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-form u-form-1">
        <form [formGroup]="agregarForm" action="#" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-15 u-inner-form" style="padding: 15px;" source="custom">
          <div class="u-form-group u-form-name">
            <label for="name-ef64" class="u-form-control-hidden u-label">Name</label>
            <input formControlName="lugarOArea" form type="text" placeholder="Nombre del {{diferenciacion}} de trabajo" id="name-ef64" name="name" class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="" maxlength="100">
          </div>
          <div class="u-form-group u-form-submit">
            <a (click)="agregar()" class="u-btn u-btn-submit u-button-style u-palette-5-dark-2 u-btn-1">Agregar<br>
            </a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <div class="u-form-send-message u-form-send-success">#FormSendSuccess</div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-section-2" id="sec-fd6a">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-form u-form-1">
        <form action="#" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-15 u-inner-form" style="padding: 15px;" source="custom">
          <div class="u-form-group u-form-name">
            <label for="name-ef64" class="u-form-control-hidden u-label">Name</label>
            <input (input)="filtrar($event)" type="text" placeholder="Buscar" id="name-ef64" name="name" class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="">
          </div>
          <div class="u-form-group u-form-submit">
            <a href="#" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-btn-submit u-button-style u-none u-text-palette-1-base u-btn-1">
              <br>
            </a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <div class="u-form-send-message u-form-send-success">#FormSendSuccess</div>
          <div class="u-form-send-error u-form-send-message">#FormSendError</div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-3" id="sec-e2f5">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-table u-table-responsive u-table-1">
        <table *ngIf="diferenciacion == 'área'" class="u-table-entity u-table-entity-1">
          <colgroup>
            <col width="50%">
            <col width="50%">
          </colgroup>
          <thead class="u-grey-50 u-table-header u-table-header-1">
            <tr style="height: 21px;">
              <th class="u-align-center u-border-1 u-border-grey-50 u-table-cell">Área de trabajo</th>
              <th class="u-align-center u-border-1 u-border-grey-50 u-table-cell">Opciones</th>
            </tr>
          </thead>
          <tbody class="u-table-body">
            <tr *ngFor="let areaInterfaz of areasInterfazFiltradas" style="height: 75px;">
              <td *ngIf="!areaInterfaz.editable" class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">{{areaInterfaz.nombre}}</td>
              <td *ngIf="areaInterfaz.editable" class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"><input [(ngModel)]="areaInterfaz.nombre" type="text" value="{{areaInterfaz.nombre}}"></td>
              <td class="u-align-center u-border-3 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell u-table-cell-4">
                <span *ngIf="!areaInterfaz.editable" class="u-icon u-icon-1">
                  <img (click)="hacerAreaEditable(areaInterfaz)" style="position: relative; top: 7px; left: -3px;" width="37px" src="assets/iconos/Editar.png">
                </span>
                <span *ngIf="areaInterfaz.editable" class="u-icon u-icon-1">
                  <img (click)="editarArea(areaInterfaz)" style="position: relative; top: 7px; left: -3px;" width="37px" src="assets/iconos/Ok.png">
                </span>
                <span class="u-icon u-icon-2">
                  <img (click)="eliminarArea(areaInterfaz)" style="position: relative; top: 7px; left: 3px;" width="37px" src="assets/iconos/Eliminar.png">
                </span>
              </td>
            </tr>
          </tbody>
        </table>

        <table *ngIf="diferenciacion == 'lugar'" class="u-table-entity u-table-entity-1">
          <colgroup>
            <col width="50%">
            <col width="50%">
          </colgroup>
          <thead class="u-grey-50 u-table-header u-table-header-1">
            <tr style="height: 21px;">
              <th class="u-align-center u-border-1 u-border-grey-50 u-table-cell">Lugar de trabajo</th>
              <th class="u-align-center u-border-1 u-border-grey-50 u-table-cell">Opciones</th>
            </tr>
          </thead>
          <tbody class="u-table-body">
            <tr *ngFor="let lugarInterfaz of lugaresInterfazFiltrados" style="height: 75px;">
              <td *ngIf="!lugarInterfaz.editable" class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">{{lugarInterfaz.nombre}}</td>
              <td *ngIf="lugarInterfaz.editable" class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"><input [(ngModel)]="lugarInterfaz.nombre" type="text" value="{{lugarInterfaz.nombre}}"></td>
              <td class="u-align-center u-border-3 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell u-table-cell-4">
                <span *ngIf="!lugarInterfaz.editable" class="u-icon u-icon-1">
                  <img (click)="hacerLugarEditable(lugarInterfaz)" style="position: relative; top: 7px; left: -3px;" width="37px" src="assets/iconos/Editar.png">
                </span>
                <span *ngIf="lugarInterfaz.editable" class="u-icon u-icon-1">
                  <img (click)="editarLugar(lugarInterfaz)" style="position: relative; top: 7px; left: -3px;" width="37px" src="assets/iconos/Ok.png">
                </span>
                <span class="u-icon u-icon-2">
                  <img (click)="eliminarLugar(lugarInterfaz)" style="position: relative; top: 7px; left: 3px;" width="37px" src="assets/iconos/Eliminar.png">
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>