<section class="u-clearfix u-section-1" id="sec-abaf">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-align-center u-text u-text-1" style="font-weight: 400;">Informe de mejoras</h1>
      <span class="u-black u-icon u-icon-circle u-spacing-8 u-icon-1"></span>
      <div class="u-form u-form-1">
        <form action="#" [formGroup]="temasForm" method="POST" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="custom" name="form">
          <div class="u-form-group u-form-group-1">
            <label for="textarea-9355" class="u-label">Tema</label>
            <textarea placeholder="" formControlName="tema" rows="4" cols="50" id="textarea-9355" name="tema" class="u-border-1 u-border-grey-30 u-input u-input-rectangle"></textarea>
          </div>
          <div class="u-container-style u-layout-cell u-size-14-lg u-size-17-xl u-size-9-md u-size-9-sm u-size-9-xs u-layout-cell-2">
            <a (click)="agregarTema()" class="u-btn u-btn-submit u-button-style u-palette-5-dark-2 u-btn-1" style="font-weight: 700; font-size: 0.9375rem; padding: 8px 33px; display: block;  position: relative; margin-left: 175%;">Agregar<br>
            </a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-2" id="sec-782a">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-form u-form-1">
        <div class="u-align-center u-table u-table-responsive u-table-1">
          <table class="u-table-entity u-table-entity-1">
            <colgroup>
              <col width="100%">
            </colgroup>
            <thead class="u-grey-50 u-table-header u-table-header-1">
              <tr style="height: 60px;">
                <th class="u-align-center u-border-1 u-border-grey-50 u-table-cell">Temas</th>
              </tr>
            </thead>
            <tbody class="u-table-body">
              <tr *ngFor="let temaInterfaz of temasInterfaz" style="height: 75px;">
                <td *ngIf="!editableTemas[temasInterfaz.indexOf(temaInterfaz)]" (click)="hacerTemaEditable(temasInterfaz.indexOf(temaInterfaz))" class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                  {{temaInterfaz.descripcion}}
                </td>
                <td *ngIf="editableTemas[temasInterfaz.indexOf(temaInterfaz)]" class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                  <input [(ngModel)]="temaInterfaz.descripcion" value="{{temaInterfaz.descripcion}}" type="text" ><button (click)="hacerTemaNoEditables()">✓</button><button (click)="eliminarTema(temasInterfaz.indexOf(temaInterfaz))">x</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-section-3" id="sec-087f">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-align-center u-text u-text-1">
        <span style="font-weight: 400;">Medidas del empleador</span>
        <br>
      </h1>
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-size-43-xl u-size-46-lg u-size-51-md u-size-51-sm u-size-51-xs u-layout-cell-1">
              <div class="u-container-layout u-valign-top-md u-container-layout-1">
                <div class="u-form u-form-1">
                  <form action="#" [formGroup]="medidasEForm" method="POST" class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form" style="padding: 10px" source="custom" name="form">
                    <div class="u-form-group u-form-group-1">
                      <label for="text-2736" class="u-form-control-hidden u-label"></label>
                      <input type="text" formControlName="medidaE" placeholder="Medida" id="text-2736" name="text" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" style="position: relative; margin-left: 7%;">
                    </div>
                    <div class="u-container-style u-layout-cell u-size-14-lg u-size-17-xl u-size-9-md u-size-9-sm u-size-9-xs u-layout-cell-2">
                      <a (click)="agregarMedidasEmpleador()" class="u-btn u-btn-submit u-button-style u-palette-5-dark-2 u-btn-1" style="font-weight: 700; font-size: 0.9375rem; padding: 8px 33px; display: block; position: relative; margin-left: 215%;">Agregar<br>
                      </a>
                      <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-6" id="sec-f171">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-table u-table-responsive u-table-1">
        <table class="u-table-entity u-table-entity-1">
          <colgroup>
            <col width="100%">
          </colgroup>
          <thead class="u-grey-50 u-table-header u-table-header-1">
            <tr style="height: 60px;">
              <th class="u-align-center u-border-1 u-border-grey-50 u-table-cell">Medidas Empleador</th>
            </tr>
          </thead>
          <tbody class="u-table-body">
            <tr *ngFor="let medidaEInterfaz of medidasEInterfaz" style="height: 75px;">
              <td *ngIf="!editableMedidasE[medidasEInterfaz.indexOf(medidaEInterfaz)]" (click)="hacerMedidaEEditable(medidasEInterfaz.indexOf(medidaEInterfaz))" class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                {{medidaEInterfaz.descripcion}}
              </td>
              <td *ngIf="editableMedidasE[medidasEInterfaz.indexOf(medidaEInterfaz)]" class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                <input [(ngModel)]="medidaEInterfaz.descripcion" value="{{medidaEInterfaz.descripcion}}" type="text" ><button (click)="hacerMedidaENoEditables()">✓</button><button (click)="eliminarMedidaE(medidasEInterfaz.indexOf(medidaEInterfaz))">x</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-section-5" id="carousel_dced">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <br>
      <h1 class="u-align-center u-text u-text-1">
        <span style="font-weight: 400;">Medidas del director SGSST</span>
        <br>
      </h1>
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-size-43-xl u-size-46-lg u-size-51-md u-size-51-sm u-size-51-xs u-layout-cell-1">
              <div class="u-container-layout u-valign-top-md u-container-layout-1">
                <div class="u-form u-form-1">
                  <form action="#" [formGroup]="medidasDForm" method="POST" class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form" style="padding: 10px" source="custom" name="form">
                    <div class="u-form-group u-form-group-1">
                      <label for="text-2736" class="u-form-control-hidden u-label"></label>
                      <input type="text" formControlName="medidaD" placeholder="Medida" id="text-2736" name="text" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" style="position: relative; margin-left: 7%;">
                    </div>
                    <div class="u-container-style u-layout-cell u-size-14-lg u-size-17-xl u-size-9-md u-size-9-sm u-size-9-xs u-layout-cell-2">
                      <a (click)="agregarMedidasDirector()" class="u-btn u-btn-submit u-button-style u-palette-5-dark-2 u-btn-1" style="font-weight: 700; font-size: 0.9375rem; padding: 8px 33px; display: block; position: relative; margin-left: 215%;">Agregar<br>
                      </a>
                      <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-6" id="carousel_b97c">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-table u-table-responsive u-table-1">
        <table class="u-table-entity u-table-entity-1">
          <colgroup>
            <col width="100%">
          </colgroup>
          <thead class="u-grey-50 u-table-header u-table-header-1">
            <tr style="height: 60px;">
              <th class="u-align-center u-border-1 u-border-grey-50 u-table-cell">Medidas Director SG-SST</th>
            </tr>
          </thead>
          <tbody class="u-table-body">
            <tr *ngFor="let medidaDInterfaz of medidasDInterfaz" style="height: 75px;">
              <td *ngIf="!editableMedidasD[medidasDInterfaz.indexOf(medidaDInterfaz)]" (click)="hacerMedidaDEditable(medidasDInterfaz.indexOf(medidaDInterfaz))" class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                {{medidaDInterfaz.descripcion}}
              </td>
              <td *ngIf="editableMedidasD[medidasDInterfaz.indexOf(medidaDInterfaz)]" class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                <input [(ngModel)]="medidaDInterfaz.descripcion" value="{{medidaDInterfaz.descripcion}}" type="text" ><button (click)="hacerMedidaDNoEditables()">✓</button><button (click)="eliminarMedidaD(medidasDInterfaz.indexOf(medidaDInterfaz))">x</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-section-7" id="carousel_d67a">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <h1 class="u-align-center u-text u-text-1">
        <span style="font-weight: 400;">Medidas del COPASST</span>
        <br>
      </h1>
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-size-43-xl u-size-46-lg u-size-51-md u-size-51-sm u-size-51-xs u-layout-cell-1">
              <div class="u-container-layout u-valign-top-md u-container-layout-1">
                <div class="u-form u-form-1">
                  <form action="#" [formGroup]="medidasCoForm" method="POST" class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form" style="padding: 10px" source="custom" name="form">
                    <div class="u-form-group u-form-group-1">
                      <label for="text-2736" class="u-form-control-hidden u-label"></label>
                      <input type="text" formControlName="medidaCo" placeholder="Medida" id="text-2736" name="text" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" style="position: relative; margin-left: 7%;">
                    </div>
                    <div class="u-container-style u-layout-cell u-size-14-lg u-size-17-xl u-size-9-md u-size-9-sm u-size-9-xs u-layout-cell-2">
                      <a (click)="agregarMedidasCopasst()" class="u-btn u-btn-submit u-button-style u-palette-5-dark-2 u-btn-1" style="font-weight: 700; font-size: 0.9375rem; padding: 8px 33px; display: block; position: relative; margin-left: 215%;">Agregar<br>
                      </a>
                      <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-8" id="carousel_3251">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-table u-table-responsive u-table-1">
        <table class="u-table-entity u-table-entity-1">
          <colgroup>
            <col width="100%">
          </colgroup>
          <thead class="u-grey-50 u-table-header u-table-header-1">
            <tr style="height: 60px;">
              <th class="u-align-center u-border-1 u-border-grey-50 u-table-cell">Medidas COPASST</th>
            </tr>
          </thead>
          <tbody class="u-table-body">
            <tr *ngFor="let medidaCoInterfaz of medidasCoInterfaz" style="height: 75px;">
              <td *ngIf="!editableMedidasCo[medidasCoInterfaz.indexOf(medidaCoInterfaz)]" (click)="hacerMedidaCoEditable(medidasCoInterfaz.indexOf(medidaCoInterfaz))" class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                {{medidaCoInterfaz.descripcion}}
              </td>
              <td *ngIf="editableMedidasCo[medidasCoInterfaz.indexOf(medidaCoInterfaz)]" class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                <input [(ngModel)]="medidaCoInterfaz.descripcion" value="{{medidaCoInterfaz.descripcion}}" type="text" ><button (click)="hacerMedidaCoNoEditables()">✓</button><button (click)="eliminarMedidaCo(medidasCoInterfaz.indexOf(medidaCoInterfaz))">x</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-section-9" id="carousel_bfaa">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <h1 class="u-align-center u-text u-text-1">
        <span style="font-weight: 400;">Medidas del CCL</span>
        <br>
      </h1>
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-size-43-xl u-size-46-lg u-size-51-md u-size-51-sm u-size-51-xs u-layout-cell-1">
              <div class="u-container-layout u-valign-top-md u-container-layout-1">
                <div class="u-form u-form-1">
                  <form action="#" [formGroup]="medidasCclForm" method="POST" class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form" style="padding: 10px" source="custom" name="form">
                    <div class="u-form-group u-form-group-1">
                      <label for="text-2736" class="u-form-control-hidden u-label"></label>
                      <input type="text" formControlName="medidaCcl" placeholder="Medida" id="text-2736" name="text" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" style="position: relative; margin-left: 7%;">
                    </div>
                    <div class="u-container-style u-layout-cell u-size-14-lg u-size-17-xl u-size-9-md u-size-9-sm u-size-9-xs u-layout-cell-2">
                      <a (click)="agregarMedidasCcl()" class="u-btn u-btn-submit u-button-style u-palette-5-dark-2 u-btn-1" style="font-weight: 700; font-size: 0.9375rem; padding: 8px 33px; display: block; position: relative; margin-left: 215%;">Agregar<br>
                      </a>
                      <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-10" id="carousel_22b1">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-table u-table-responsive u-table-1">
        <table class="u-table-entity u-table-entity-1">
          <colgroup>
            <col width="100%">
          </colgroup>
          <thead class="u-grey-50 u-table-header u-table-header-1">
            <tr style="height: 60px;">
              <th class="u-align-center u-border-1 u-border-grey-50 u-table-cell">Medidas CCL</th>
            </tr>
          </thead>
          <tbody class="u-table-body">
            <tr *ngFor="let medidaCclInterfaz of medidasCclInterfaz" style="height: 75px;">
              <td *ngIf="!editableMedidasCcl[medidasCclInterfaz.indexOf(medidaCclInterfaz)]" (click)="hacerMedidaCclEditable(medidasCclInterfaz.indexOf(medidaCclInterfaz))" class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                {{medidaCclInterfaz.descripcion}}
              </td>
              <td *ngIf="editableMedidasCcl[medidasCclInterfaz.indexOf(medidaCclInterfaz)]" class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                <input [(ngModel)]="medidaCclInterfaz.descripcion" value="{{medidaCclInterfaz.descripcion}}" type="text" ><button (click)="hacerMedidaCclNoEditables()">✓</button><button (click)="eliminarMedidaCcl(medidasCclInterfaz.indexOf(medidaCclInterfaz))">x</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-section-11" id="sec-c38a">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
              <div class="u-container-layout u-valign-top u-container-layout-1">
                <a href="https://localhost/wordpress-website-builder" class="u-align-right u-btn u-button-style u-hover-palette-1-dark-1 u-palette-5-dark-2 u-btn-1">guARDAR</a>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
              <div class="u-container-layout u-container-layout-2">
                <a href="https://localhost/joomla-page-builder" class="u-align-left u-btn u-button-style u-hover-palette-1-dark-1 u-palette-5-dark-2 u-btn-2">PUBLICAR</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>