<section class="u-clearfix u-section-1" id="sec-b09c">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-align-center u-text u-text-1">{{this.titulo}}</h1>
      <div class="u-form u-form-1">
        <form action="#"[formGroup]="cambioForm" (ngSubmit)="recuperarContrasena($event)" method="POST" class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form" style="padding: 10px" source="custom" name="form">
          <div class="u-form-group u-form-group-1" *ngIf="ruta=='/recuperarClave'">
            <label for="text-c0d9" class="u-label">Token</label>
            <input type="text" formControlName="token" id="text-c0d9" name="text" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle " required="required" maxlength="100">
          </div>
          <div class="u-form-group u-form-group-1">
            <label for="text-c0d9" class="u-label">Contraseña</label>
            <input type="password" formControlName="contraseña" id="text-c0d9" name="text" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle " required="required" maxlength="50">
          </div>
          <div class="u-form-group u-form-group-2">
            <label for="text-75e3" class="u-label">Confirmar contraseña</label>
            <input type="password" formControlName="contraseña2" id="text-75e3" name="text-1" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle " required="required" maxlength="50">
          </div>
          <div class="u-align-center u-form-group u-form-submit">
            <a (click)="recuperarContrasena($event)" class="u-btn u-btn-submit u-button-style u-hover-palette-1-dark-1 u-palette-5-dark-2 u-btn-1">CAMBIAr</a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
          <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
    </div>
  </section>