<section class="u-clearfix u-section-1" id="sec-37f6">
        <div class="u-clearfix u-sheet u-sheet-2">
          <h1 class="u-align-center u-text u-text-1 u-text-1">Datos del director</h1>
          <div class="u-align-center u-form u-form-1 u-form-1">
            <form action="#" [formGroup]="registroForm" (ngSubmit)="crearUsuario($event)" method="POST" class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form" style="padding: 10px" source="custom" name="form">
              <div class="u-form-group u-form-name u-form-partition-factor-2">
                <label for="name-3b9a" class="u-label">Nombre</label>
                <input formControlName="nombre" type="text" id="name-3b9a" name="nombre" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="" placeholder="Ingrese el nombre del director" maxlength="50">
              </div>
              <div class="u-form-group u-form-name u-form-partition-factor-2">
                <label for="text-291a" class="u-label">Apellido</label>
                <input formControlName="apellido" type="text" placeholder="Ingrese le apellido del director" id="text-291a" name="apellido" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" maxlength="50" required="required">
              </div>
              <div class="u-form-group u-form-name u-form-partition-factor-2">
                <label for="phone-601c" class="u-label">Celular</label>
                <input formControlName="celular" type="tel" id="phone-601c" name="celular" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="" placeholder="Ingrese el numero celular del director" maxlength="15">
              </div>
              <div class="u-form-group u-form-name u-form-partition-factor-2">
                <label for="email-3b9a" class="u-label">Correo</label>
                <input formControlName="correo" type="email" id="email-3b9a" name="email" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="" placeholder="Ingrese el correo electrónico del director" maxlength="50">
              </div>
              <div class="u-form-group u-form-name u-form-partition-factor-2">
                <label for="name-3b9a" class="u-label">Contraseña</label>
                <input formControlName="contraseña" type="password" id="name-3b9a" name="contraseña" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="" placeholder="Ingrese una contraseña" maxlength="50">
              </div>
              <div class="u-form-group u-form-name u-form-partition-factor-2">
                <label for="text-291a" class="u-form-control-hidden u-label"></label>
                <input formControlName="confirmacion" type="password" placeholder="Confirme su contraseña" id="text-291a" name="confirmacion" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" maxlength="50">
              </div>
              <div class="u-clearfix u-sheet u-sheet-2">
                <h1 class="u-align-center u-text u-text-1 u-text-2">Datos de la empresa</h1>
              </div>
              <div class="u-form-group u-form-partition-factor-2 u-form-group-7">
                <label for="text-407a" class="u-label">Nombre</label>
                <input formControlName="nombreEmpresa" type="text" placeholder="Ingrese el nombre de la empresa" id="text-407a" name="nombreE" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle">
              </div>
              <div class="u-form-group u-form-name u-form-partition-factor-2">
                <label for="address-17ff" class="u-label">Dirección</label>
                <input formControlName="direccion" type="text" placeholder="Ingrese la dirección de la empresa" id="address-17ff" name="direccionE" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="" maxlength="100">
              </div>
              <div class="u-form-group u-form-name u-form-partition-factor-2">
                <label for="text-1bdc" class="u-label u-label-2">Área</label>
                <input formControlName="area" type="text" placeholder="Ingrese el área en metros cuadrados" id="text-1bdc" name="areaE" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="required">
              </div>
              <div class="u-form-group u-form-name u-form-partition-factor-2">
                <label for="phone-895f" class="u-label">Telefono</label>
                <input formControlName="telefono" type="tel" placeholder="Ingrese el numero de telefono de la empresa" id="phone-895f" name="celularE" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="" maxlength="15">
              </div>
              <div class="u-form-group u-form-partition-factor-2 u-form-select u-form-group-11">
                <label for="select-a2d5" class="u-form-control-hidden u-label"></label>
                <div class="u-form-select-wrapper">
                  <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>¿Cuenta con brigada?</mat-label>
                    <mat-select (selectionChange)="habilitarTiposBrigada($event.value)" formControlName="pregunta" matNativeControl required>
                      <mat-option value="Si">Si</mat-option>
                      <mat-option value="No">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="u-form-group u-form-partition-factor-2 u-form-select u-form-group-12">
                <label for="select-2d26" class="u-form-control-hidden u-label"></label>
                <div *ngIf="activacionTipoBrigada == true" class="u-form-select-wrapper">
                  <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Clase de brigada</mat-label>
                    <mat-select matSelect formControlName="brigada" (ngModelChange)="selectBrigada.id">
                        <mat-option *ngFor="let b of brigada" value ={{b.id}}>{{b.clase}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="u-form-group u-form-name u-form-partition-factor-2">
                <label for="text-d843" class="u-label">Logotipo</label>
                <input formControlName="logotipo" type="file" (change)="onFileSelected($event)" id="text-d843" name="logotipoE" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="required" maxlength="200">
              </div>
              <div class="u-form-group u-form-partition-factor-2 u-form-textarea u-form-group-14">
                <img width="200px" id="imagenCargada" src = "" style="margin-left: auto; margin-right: auto; display: block;">  
              </div>
              <div class="u-align-center u-form-group u-form-submit">
                <a href="#" class="u-btn u-btn-submit u-button-style u-hover-palette-1-dark-1 u-palette-5-dark-2">Guardar<br>
                </a>
                <input type="submit" value="submit" class="u-form-control-hidden">
              </div>
            </form>
          </div>
        </div>
</section>