<section class="u-clearfix u-section-1" id="sec-e81f">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h3 class="u-align-center u-text u-text-1">Acta de Capacitación</h3>
      <p class="u-align-center u-text u-text-2">N° de Acta: 01</p>
    </div>
  </section>
  <section class="u-clearfix u-section-2" id="sec-cc2e">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-align-center u-form u-form-1">
        <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="custom" name="form">
          <div class="u-form-date u-form-group u-form-partition-factor-2">
            <label for="name-5a59" class="u-label">Fecha</label>
            <input type="date" id="name-5a59" name="name" class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white" required="required">
          </div>
          <div class="u-form-group u-form-partition-factor-2">
            <label for="email-5a59" class="u-label">Hora Inicio</label>
            <input type="text" id="email-5a59" name="email" class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white" required="required" placeholder="Ingresar hora de incio">
          </div>
          <div class="u-form-group u-form-partition-factor-2 u-form-group-3">
            <label for="text-b1a2" class="u-label">Lugar</label>
            <input type="text" placeholder="Ingresar lugar" id="text-b1a2" name="text" class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white">
          </div>
          <div class="u-form-group u-form-partition-factor-2 u-form-group-4">
            <label for="text-e94d" class="u-label">Hora Fin</label>
            <input type="text" placeholder="Ingresar hora de fin" id="text-e94d" name="text-1" class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white">
          </div>
          <div class="u-form-group u-form-group-5">
            <label for="text-18c4" class="u-label">Capacitación de</label>
            <input type="text" placeholder="Ingresar el tipo de capacitación" id="text-18c4" name="text-2" class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white">
          </div>
          <div class="u-align-left u-form-group u-form-submit">
            <a href="#" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-btn-submit u-button-style u-none u-text-palette-1-base u-btn-1">
              <br>
            </a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <div class="u-form-send-message u-form-send-success"> Gracias! Tu mensaje ha sido enviado. </div>
          <div class="u-form-send-error u-form-send-message"> No se puede enviar su mensaje. Por favor, corrija los errores y vuelva a intentarlo. </div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-3" id="sec-187a">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-container-style u-group u-group-1">
        <div class="u-container-layout u-container-layout-1">
          <h5 class="u-align-center u-text u-text-1">Tema<span style="font-weight: 700;"></span>
          </h5>
        </div>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-4" id="carousel_2de3">
    <div class="u-clearfix u-sheet u-valign-bottom u-sheet-1">
      <div class="u-container-style u-group u-group-1">
        <div class="u-container-layout">
          <div class="u-align-center u-form u-form-1">
            <form action="#" method="POST" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="custom" name="form">
              <div class="u-form-group u-form-group-1">
                <label for="textarea-1814" class="u-form-control-hidden u-label"></label>
                <textarea placeholder="Tema de la reunión" rows="8" cols="50" id="textarea-1814" name="textarea" class="u-border-1 u-border-grey-30 u-input u-input-rectangle"></textarea>
              </div>
              <div class="u-align-left u-form-group u-form-submit">
                <a href="#" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-btn-submit u-button-style u-none u-text-palette-1-base u-btn-1">
                  <br>
                </a>
                <input type="submit" value="submit" class="u-form-control-hidden">
              </div>
              <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
              <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
              <input type="hidden" value="" name="recaptchaResponse">
            </form>
          </div>
          <h5 class="u-align-center u-text u-text-1">Desarrollo<span style="font-weight: 700;"></span>
            <span style="font-weight: 700;"></span>
          </h5>
        </div>
      </div>
      <div class="u-align-center u-form u-form-2">
        <form action="#" method="POST" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="custom" name="form">
          <div class="u-form-group u-form-group-3">
            <label for="textarea-1814" class="u-form-control-hidden u-label"></label>
            <textarea placeholder="Desarrollo de la reunión" rows="8" cols="50" id="textarea-1814" name="textarea" class="u-border-1 u-border-grey-30 u-input u-input-rectangle"></textarea>
          </div>
          <div class="u-align-left u-form-group u-form-submit u-form-group-4">
            <a href="#" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-btn-submit u-button-style u-none u-text-palette-1-base u-btn-2">
              <br>
            </a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
          <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-5" id="sec-e603">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-container-style u-expanded-width u-group u-group-1">
        <div class="u-container-layout">
          <h5 class="u-align-center u-text u-text-1">Subtemas</h5><span class="u-align-right u-icon u-icon-circle u-palette-5-dark-2 u-spacing-7 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 60 60" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f2e2"></use></svg><svg class="u-svg-content" viewBox="0 0 60 60" x="0px" y="0px" id="svg-f2e2" style="enable-background:new 0 0 60 60;"><path d="M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M45.563,30.826l-22,15
  C23.394,45.941,23.197,46,23,46c-0.16,0-0.321-0.038-0.467-0.116C22.205,45.711,22,45.371,22,45V15c0-0.371,0.205-0.711,0.533-0.884
  c0.328-0.174,0.724-0.15,1.031,0.058l22,15C45.836,29.36,46,29.669,46,30S45.836,30.64,45.563,30.826z"></path></svg></span>
        </div>
      </div>
      <div class="u-align-center u-table u-table-responsive u-table-1">
        <table class="u-table-entity u-table-entity-1">
          <colgroup>
            <col width="50%">
            <col width="50%">
          </colgroup>
          <thead class="u-grey-50 u-table-header u-table-header-1">
            <tr style="height: 21px;">
              <th class="u-align-center u-border-1 u-border-grey-50 u-table-cell">Nombre del subtema</th>
              <th class="u-align-center u-border-1 u-border-grey-50 u-table-cell">Área de interes</th>
            </tr>
          </thead>
          <tbody class="u-table-body">
            <tr style="height: 75px;">
              <td class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Row 1</td>
              <td class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Description</td>
            </tr>
            <tr style="height: 76px;">
              <td class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Row 2</td>
              <td class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Description</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-6" id="carousel_e8d9">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-container-style u-group u-group-1">
        <div class="u-container-layout">
          <h5 class="u-align-center u-text u-text-1">Conclusiones / Observaciones<span style="font-weight: 700;"></span>
            <span style="font-weight: 700;"></span>
            <span style="font-weight: 700;"></span>
          </h5>
          <div class="u-align-center u-expanded-width u-form u-form-1">
            <form action="#" method="POST" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="custom" name="form">
              <div class="u-form-group u-form-group-1">
                <label for="textarea-1814" class="u-form-control-hidden u-label"></label>
                <textarea placeholder="Conclusiones y/o observaciones de la reunión" rows="8" cols="50" id="textarea-1814" name="textarea" class="u-border-1 u-border-grey-30 u-input u-input-rectangle"></textarea>
              </div>
              <div class="u-align-left u-form-group u-form-submit u-form-group-2">
                <a href="#" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-btn-submit u-button-style u-none u-text-palette-1-base u-btn-1">
                  <br>
                </a>
                <input type="submit" value="submit" class="u-form-control-hidden">
              </div>
              <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
              <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
              <input type="hidden" value="" name="recaptchaResponse">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-7" id="sec-041c">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h5 class="u-text u-text-1">Lista de Participantes<span style="font-weight: 700;"></span>
      </h5>
      <div class="u-form u-form-1">
        <form action="#" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-15 u-inner-form" style="padding: 15px;" source="custom">
          <div class="u-form-group u-form-name">
            <label for="name-ef64" class="u-form-control-hidden u-label">Name</label>
            <input type="text" placeholder="Nombre" id="name-ef64" name="name" class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="" maxlength="50">
          </div>
          <div class="u-form-group u-form-submit">
            <a href="#" class="u-btn u-btn-submit u-button-style u-palette-5-dark-2 u-btn-1">Agregar<br>
            </a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <div class="u-form-send-message u-form-send-success">#FormSendSuccess</div>
          <div class="u-form-send-error u-form-send-message">#FormSendError</div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-8" id="carousel_9ad8">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-align-center u-table u-table-responsive u-table-1">
        <table class="u-table-entity u-table-entity-1">
          <colgroup>
            <col width="100%">
          </colgroup>
          <thead class="u-grey-50 u-table-header u-table-header-1">
            <tr style="height: 60px;">
              <th class="u-align-center u-border-1 u-border-grey-50 u-table-cell">Column 1 </th>
            </tr>
          </thead>
          <tbody class="u-table-body">
            <tr style="height: 75px;">
              <td class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Row 1</td>
            </tr>
            <tr style="height: 76px;">
              <td class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Row 2</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-section-9" id="sec-9a81">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1">
                <a href="https://localhost/c/table-website-templates" class="u-align-right u-btn u-btn-round u-button-style u-hover-palette-5-dark-1 u-palette-5-dark-2 u-radius-6 u-btn-1">Guardar</a>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
              <div class="u-container-layout u-container-layout-2">
                <a href="https://localhost/html-templates" class="u-align-left u-btn u-btn-round u-button-style u-hover-palette-5-dark-1 u-palette-5-dark-2 u-radius-6 u-btn-2">Publicar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>