<section class="u-align-center u-clearfix u-section-1" id="sec-ff82">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-align-center u-form u-form-1">
        <form action="#" method="POST" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="custom" name="form">
          <div class="u-form-group u-form-name u-form-group-1">
            <label for="name-6797" class="u-form-control-hidden u-label">Name</label>
            <input type="text" placeholder="Buscar" id="name-6797" name="buscar" class="u-border-1 u-border-grey-30 u-input u-input-rectangle">
          </div>
          <div class="u-align-left u-form-group u-form-submit u-form-group-2">
            <a href="#" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-btn-submit u-button-style u-none u-text-palette-1-base u-btn-1">
              <br>
            </a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
          <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
      <div class="u-expanded-width u-table u-table-responsive u-table-1">
        <table class="u-table-entity">
          <colgroup>
            <col width="16.6%">
            <col width="16.6%">
            <col width="16.6%">
            <col width="16.6%">
            <col width="17%">
            <col width="16.6%">
          </colgroup>
          <thead class="u-align-center u-black u-table-header u-table-header-1">
            <tr style="height: 46px;">
              <th class="u-border-1 u-border-black u-table-cell">Nombre</th>
              <th class="u-border-1 u-border-black u-table-cell">Area</th>
              <th class="u-border-1 u-border-black u-table-cell">Rol</th>
              <th class="u-border-1 u-border-black u-table-cell">Correo</th>
              <th class="u-border-1 u-border-black u-table-cell">Celular</th>
              <th class="u-border-1 u-border-black u-table-cell">Opciones</th>
            </tr>
          </thead>
          <tbody class="u-align-center u-table-body">
            <tr style="height: 75px;">
              <td class="u-align-center u-border-1 u-border-grey-30 u-first-column u-table-cell u-table-cell-7">Empleado 1</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-8">AreaX</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-9">RolX</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-10">empleado1@correo.com</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-11">960-068-8439</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-12">eliminar</td>
            </tr>
            <tr style="height: 76px;">
              <td class="u-align-center u-border-1 u-border-grey-30 u-first-column u-table-cell u-table-cell-13">Empleado 2</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-14">AreaX</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-15">RolX</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-16">empleado2@correo.com</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-17">(017)057-6055</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-18">eliminar</td>
            </tr>
            <tr style="height: 76px;">
              <td class="u-align-center u-border-1 u-border-grey-30 u-first-column u-table-cell u-table-cell-19">Empleado 3</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-20">AreaX</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-21">RolX</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-22">empleado3@correo.com</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-23">166-169-2267</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-24">eliminar</td>
            </tr>
          </tbody>
          <tfoot class="u-align-center u-table-footer">
            <tr style="height: 46px;">
              <td class="u-border-1 u-border-grey-30 u-table-cell">Empleado 4</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">AreaX</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">RolX</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">empleado4@correo.com</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">(699)824-5724</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">eliminar</td>
            </tr>
          </tfoot>
        </table>
      </div><span class="u-icon u-icon-circle u-text-black u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 511.999 511.999" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-e6bf"></use></svg><svg class="u-svg-content" viewBox="0 0 511.999 511.999" x="0px" y="0px" id="svg-e6bf" style="enable-background:new 0 0 511.999 511.999;"><g><g><path d="M508.745,246.041c-4.574-6.257-113.557-153.206-252.748-153.206S7.818,239.784,3.249,246.035    c-4.332,5.936-4.332,13.987,0,19.923c4.569,6.257,113.557,153.206,252.748,153.206s248.174-146.95,252.748-153.201    C513.083,260.028,513.083,251.971,508.745,246.041z M255.997,385.406c-102.529,0-191.33-97.533-217.617-129.418    c26.253-31.913,114.868-129.395,217.617-129.395c102.524,0,191.319,97.516,217.617,129.418    C447.361,287.923,358.746,385.406,255.997,385.406z"></path>
</g>
</g><g><g><path d="M255.997,154.725c-55.842,0-101.275,45.433-101.275,101.275s45.433,101.275,101.275,101.275    s101.275-45.433,101.275-101.275S311.839,154.725,255.997,154.725z M255.997,323.516c-37.23,0-67.516-30.287-67.516-67.516    s30.287-67.516,67.516-67.516s67.516,30.287,67.516,67.516S293.227,323.516,255.997,323.516z"></path>
</g>
</g></svg></span>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-2" id="sec-0a26">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-align-center u-text u-text-1">Insertar datos<span style="font-weight: 400;"></span>
      </h1>
      <div class="u-form u-form-1">
        <form action="#" method="POST" class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form" style="padding: 10px" source="custom" name="form">
          <div class="u-form-group u-form-name u-form-partition-factor-2">
            <label for="name-3b9a" class="u-form-control-hidden u-label">Name</label>
            <input type="text" placeholder="Nombre completo" id="name-3b9a" name="name" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-1" required="" maxlength="50">
          </div>
          <div class="u-form-group u-form-partition-factor-2 u-form-group-2">
            <label for="text-3528" class="u-form-control-hidden u-label"></label>
            <input type="text" placeholder="Area" id="text-3528" name="area" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-2" required="required">
          </div>
          <div class="u-form-group u-form-partition-factor-2 u-form-group-3">
            <label for="text-6785" class="u-form-control-hidden u-label"></label>
            <input type="text" placeholder="Rol" id="text-6785" name="rol" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-3">
          </div>
          <div class="u-form-group u-form-partition-factor-2 u-form-phone u-form-group-4">
            <label for="phone-ec5a" class="u-form-control-hidden u-label">Teléfono</label>
            <input type="tel" pattern="\+?\d{0,3}[\s\(\-]?([0-9]{2,3})[\s\)\-]?([\s\-]?)([0-9]{3})[\s\-]?([0-9]{2})[\s\-]?([0-9]{2})" placeholder="Celular" id="phone-ec5a" name="celular" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-4" required="">
          </div>
          <div class="u-form-email u-form-group">
            <label for="email-3b9a" class="u-form-control-hidden u-label">Email</label>
            <input type="email" placeholder="Correo" id="email-3b9a" name="correo" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-5" required="">
          </div>
          <div class="u-align-center u-form-group u-form-submit">
            <a href="#" class="u-btn u-btn-submit u-button-style u-hover-palette-1-dark-1 u-palette-5-dark-2 u-btn-1">Agregar</a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
          <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-3" id="sec-d51f">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-align-center u-text u-text-1">Reglas para la base de datos</h1>
      <div class="u-form u-form-1">
        <form action="#" method="POST" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="custom" name="form">
          <div class="u-form-group u-form-group-1">
            <label for="textarea-ca50" class="u-form-control-hidden u-label"></label>
            <textarea placeholder="" rows="4" cols="50" id="textarea-ca50" name="textarea" class="u-border-1 u-border-grey-30 u-input u-input-rectangle"></textarea>
          </div>
          <div class="u-align-center u-form-group u-form-submit u-form-group-2">
            <a href="#" class="u-btn u-btn-submit u-button-style u-palette-5-dark-2 u-btn-1">Subir hoja de calculo</a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
          <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
    </div>
  </section>