<section class="u-align-center u-clearfix u-section-1" id="sec-ff82">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-align-center u-form u-form-1">
        <form action="#" method="POST" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="custom" name="form">
          <div class="u-form-group u-form-name u-form-group-1">
            <label for="name-6797" class="u-form-control-hidden u-label">Name</label>
            <input (input)="filtrar($event)" type="text" placeholder="Buscar" id="name-6797" name="buscar" class="u-border-1 u-border-grey-30 u-input u-input-rectangle">
          </div>
          <div class="u-align-left u-form-group u-form-submit u-form-group-2">
            <a href="#" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-btn-submit u-button-style u-none u-text-palette-1-base u-btn-1">
              <br>
            </a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
          <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
      <div class="u-expanded-width u-table u-table-responsive u-table-1">
        <table class="u-table-entity">
          <colgroup>
            <col width="16.6%">
            <col width="16.6%">
            <col width="16.6%">
            <col width="16.6%">
            <col width="17%">
          </colgroup>
          <thead class="u-align-center u-black u-table-header u-table-header-1">
            <tr style="height: 46px;">
              <th class="u-border-1 u-border-black u-table-cell">Nombre</th>
              <th class="u-border-1 u-border-black u-table-cell">Área</th>
              <th class="u-border-1 u-border-black u-table-cell">Rol</th>
              <th class="u-border-1 u-border-black u-table-cell">Correo</th>
              <th class="u-border-1 u-border-black u-table-cell">Celular</th>
            </tr>
          </thead>
          <tbody class="u-align-center u-table-body">
            <tr *ngFor="let usuarioInterfaz of usuariosInterfazFiltrados" style="height: 75px;">
              <td class="u-align-center u-border-1 u-border-grey-30 u-first-column u-table-cell u-table-cell-7">{{usuarioInterfaz.nombre}}</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-8">{{usuarioInterfaz.area}}</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-9">{{usuarioInterfaz.rol}}</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-10">{{usuarioInterfaz.correo}}</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-11">{{usuarioInterfaz.celular}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-2" id="sec-0a26">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-align-center u-text u-text-1">Insertar datos<span style="font-weight: 400;"></span>
      </h1>
      <div class="u-form u-form-1">
        <form [formGroup]="creacionForm" action="#" method="POST" class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form" style="padding: 10px" source="custom" name="form">
          <div class="u-form-group u-form-name u-form-partition-factor-2">
            <label for="name-3b9a" class="u-form-control-hidden u-label">Name</label>
            <input formControlName="nombre" type="text" placeholder="Nombre completo" id="name-3b9a" name="name" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="" maxlength="50">
          </div>
          <div class="u-form-group u-form-partition-factor-2 u-form-group-2">
            <label for="text-3528" class="u-form-control-hidden u-label"></label>
            <select formControlName="area" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="required">
              <option [ngValue]="null" disabled selected>Área</option>  
              <option *ngFor="let area of areas" value="{{area.id}}">{{area.nombre}}</option>
            </select>
          </div>
          <div class="u-form-group u-form-partition-factor-2 u-form-group-3">
            <label for="text-6785" class="u-form-control-hidden u-label"></label>
            <select formControlName="rol" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="required">
              <option [ngValue]="null" disabled selected>Rol</option>  
              <option *ngFor="let rol of roles" value="{{rol.id}}">{{rol.nombre}}</option>
            </select>
          </div>
          <div class="u-form-group u-form-partition-factor-2 u-form-phone u-form-group-4">
            <label for="phone-ec5a" class="u-form-control-hidden u-label">Teléfono</label>
            <input formControlName="celular" type="tel" placeholder="Celular" id="phone-ec5a" name="celular" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="">
          </div>
          <div class="u-form-email u-form-group">
            <label for="email-3b9a" class="u-form-control-hidden u-label">Email</label>
            <input formControlName="correo" type="email" placeholder="Correo" id="email-3b9a" name="correo" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="">
          </div>
          <div class="u-align-center u-form-group u-form-submit">
            <a (click)="agregar()" class="u-btn u-btn-submit u-button-style u-hover-palette-1-dark-1 u-palette-5-dark-2 u-btn-1">Agregar</a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
    </div>
  </section>