<mat-tab-group *ngIf="intermediario == false" mat-align-tabs="start">
  <mat-tab *ngIf="rol != 'Empleado'" label="Trabajo">

    <section class="u-clearfix u-section-1" id="sec-17e6">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-align-center u-text u-text-1">Espacio de trabajo</h2>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="sec-f55d">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-list u-list-1">
          <div [ngClass]="{'u-repeater u-repeater-1': opcionesTrabajo.length >= 3}">

            <ng-container *ngFor="let opcionI of opcionesTrabajo">

            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1"><span class="u-align-center u-border-2 u-border-palette-5-dark-3 u-icon u-icon-circle u-spacing-10 u-text-palette-5-dark-2 u-icon-1"><div class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 56 56" style=""><img style="position: relative; top: -10px; left: -10px;" width="60px" src="{{opcionI.imagen}}"></div></span>
                <a href="{{opcionI.ruta}}" class="u-btn u-btn-round u-button-style u-hover-palette-5-dark-1 u-palette-5-dark-2 u-radius-6 u-btn-1">{{opcionI.nombre}}</a>
              </div>
            </div>

          </ng-container>

          <div *ngIf="opcionesTrabajo.length == 3" class="u-container-style u-list-item u-repeater-item"></div>

          </div>
        </div>
      </div>
    </section>


  </mat-tab>
  <mat-tab label="Servicio">


    <section class="u-clearfix u-section-1" id="sec-17e6">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-align-center u-text u-text-1">Espacio de servicio</h2>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="sec-f55d">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-list u-list-1">
          <div [ngClass]="{'u-repeater u-repeater-1': opcionesServicio.length >= 3}">

            <ng-container *ngFor="let opcionI of opcionesServicio">

              <div class="u-container-style u-list-item u-repeater-item">
                <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1"><span class="u-align-center u-border-2 u-border-palette-5-dark-3 u-icon u-icon-circle u-spacing-10 u-text-palette-5-dark-2 u-icon-1"><div class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 56 56" style=""><img style="position: relative; top: -10px; left: -10px;" width="60px" src="{{opcionI.imagen}}"></div></span>
                  <a href="{{opcionI.ruta}}" class="u-btn u-btn-round u-button-style u-hover-palette-5-dark-1 u-palette-5-dark-2 u-radius-6 u-btn-1">{{opcionI.nombre}}</a>
                </div>
              </div>
  
            </ng-container>

            <div *ngIf="opcionesServicio.length == 3" class="u-container-style u-list-item u-repeater-item"></div>

          </div>
        </div>
      </div>
    </section>

  </mat-tab>
</mat-tab-group>



<section *ngIf="intermediario == true" class="u-clearfix u-section-1" id="sec-17e6">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <h2 class="u-align-center u-text u-text-1">{{tituloIntermediario}}</h2>
  </div>
</section>
<section *ngIf="intermediario == true" class="u-align-center u-clearfix u-section-2" id="sec-f55d">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-list u-list-1">
      <div [ngClass]="{'u-repeater u-repeater-1': opcionesIntermedias.length >= 3}">

        <ng-container *ngFor="let opcionI of opcionesIntermedias">

          <div class="u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1"><span class="u-align-center u-border-2 u-border-palette-5-dark-3 u-icon u-icon-circle u-spacing-10 u-text-palette-5-dark-2 u-icon-1"><div class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 56 56" style=""><img style="position: relative; top: -10px; left: -10px;" width="60px" src="{{opcionI.imagen}}"></div></span>
              <a href="{{opcionI.ruta}}" class="u-btn u-btn-round u-button-style u-hover-palette-5-dark-1 u-palette-5-dark-2 u-radius-6 u-btn-1">{{opcionI.nombre}}</a>
            </div>
          </div>

      </ng-container>

      <div *ngIf="opcionesIntermedias.length == 3" class="u-container-style u-list-item u-repeater-item"></div>

      </div>
    </div>
  </div>
</section>

    