<section class="u-clearfix" id="sec-087f">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h1 class="u-align-center u-text u-text-1">Temas</h1>
  </div>
</section>
<section class="u-align-center u-clearfix u-section-4" id="sec-f171">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-table u-table-responsive u-table-1">
      <table class="u-table-entity">
        <colgroup>
          <col width="100%">
        </colgroup>
        <thead class="u-grey-50 u-table-header u-table-header-1">
          <tr style="height: 60px;">
            <th class="u-align-center u-border-1 u-border-grey-50 u-table-cell">Temas</th>
          </tr>
        </thead>
        <tbody class="u-table-body">
          <tr *ngFor="let temaInterfaz of temasInterfaz" style="height: 75px;">
            <td class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
              {{temaInterfaz.descripcion}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
  <section class="u-clearfix" id="sec-087f">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-align-center u-text u-text-1">Medidas del empleador</h1>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-4" id="sec-f171">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-table u-table-responsive u-table-1">
        <table class="u-table-entity">
          <colgroup>
            <col width="100%">
          </colgroup>
          <thead class="u-grey-50 u-table-header u-table-header-1">
            <tr style="height: 60px;">
              <th class="u-align-center u-border-1 u-border-grey-50 u-table-cell">Medidas</th>
            </tr>
          </thead>
          <tbody class="u-table-body">
            <tr *ngFor="let medidaEInterfaz of medidasEInterfaz" style="height: 75px;">
              <td class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                {{medidaEInterfaz.descripcion}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="u-clearfix" id="carousel_dced">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-align-center u-text u-text-1">Medidas del director SGSST</h1>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-6" id="carousel_b97c">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-table u-table-responsive u-table-1">
        <table class="u-table-entity">
          <colgroup>
            <col width="100%">
          </colgroup>
          <thead class="u-grey-50 u-table-header u-table-header-1">
            <tr style="height: 60px;">
              <th class="u-align-center u-border-1 u-border-grey-50 u-table-cell">Medidas</th>
            </tr>
          </thead>
          <tbody class="u-table-body">
            <tr *ngFor="let medidaDInterfaz of medidasDInterfaz" style="height: 75px;">
              <td class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                {{medidaDInterfaz.descripcion}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="u-clearfix" id="carousel_d67a">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-align-center u-text u-text-1">Medidas del COPASST</h1>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-8" id="carousel_3251">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-table u-table-responsive u-table-1">
        <table class="u-table-entity">
          <colgroup>
            <col width="100%">
          </colgroup>
          <thead class="u-grey-50 u-table-header u-table-header-1">
            <tr style="height: 60px;">
              <th class="u-align-center u-border-1 u-border-grey-50 u-table-cell">Medidas</th>
            </tr>
          </thead>
          <tbody class="u-table-body">
            <tr *ngFor="let medidaCoInterfaz of medidasCoInterfaz" style="height: 75px;">
              <td class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                {{medidaCoInterfaz.descripcion}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="u-clearfix" id="carousel_bfaa">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-align-center u-text u-text-1">Medidas del CCL</h1>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-10" id="carousel_22b1">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-table u-table-responsive u-table-1">
        <table class="u-table-entity">
          <colgroup>
            <col width="100%">
          </colgroup>
          <thead class="u-grey-50 u-table-header u-table-header-1">
            <tr style="height: 60px;">
              <th class="u-align-center u-border-1 u-border-grey-50 u-table-cell">Medidas</th>
            </tr>
          </thead>
          <tbody class="u-table-body">
            <tr *ngFor="let medidaCclInterfaz of medidasCclInterfaz" style="height: 75px;">
              <td class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                {{medidaCclInterfaz.descripcion}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>