.u-section-1 .u-sheet-1 {
    min-height: 122px;
  }
  
  .u-section-1 .u-text-1 {
    font-weight: 700;
    margin: 20px 0 0;
  }
  
  .u-section-1 .u-text-2 {
    margin: 20px 0 21px;
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-text-2 {
      width: auto;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 331px;
  }
  
  .u-section-2 .u-form-1 {
    height: 313px;
    width: 750px;
    margin: 14px auto;
  }
  
  .u-section-2 .u-form-group-3 {
    margin-left: 0;
  }
  
  .u-section-2 .u-form-group-4 {
    margin-left: 0;
  }
  
  .u-section-2 .u-form-group-5 {
    margin-left: 0;
  }
  
  .u-section-2 .u-btn-1 {
    border-style: none none solid;
    padding: 0;
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-form-1 {
      width: 720px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-form-1 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-form-1 {
      width: 340px;
    }
  }.u-section-3 .u-sheet-1 {
    min-height: 323px;
  }
  
  .u-section-3 .u-group-1 {
    width: 680px;
    min-height: 278px;
    margin: 0 auto 45px;
  }
  
  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }
  
  .u-section-3 .u-text-1 {
    font-weight: 700;
    margin: 0;
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-group-1 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-group-1 {
      width: 340px;
    }
  }.u-section-4 .u-sheet-1 {
    min-height: 323px;
  }
  
  .u-section-4 .u-group-1 {
    width: 680px;
    min-height: 323px;
    margin: 0 auto;
  }
  
  .u-section-4 .u-form-1 {
    height: 295px;
    width: 680px;
    margin: -299px 0 0;
  }
  
  .u-section-4 .u-form-group-1 {
    margin-left: 0;
  }
  
  .u-section-4 .u-btn-1 {
    border-style: none none solid;
    padding: 0;
  }
  
  .u-section-4 .u-text-1 {
    font-weight: 700;
    margin: 4px 0 0;
  }
  
  .u-section-4 .u-form-2 {
    height: 295px;
    width: 680px;
    margin: -295px auto 0;
  }
  
  .u-section-4 .u-form-group-3 {
    margin-left: 0;
  }
  
  .u-section-4 .u-form-group-4 {
    width: 100%;
  }
  
  .u-section-4 .u-btn-2 {
    border-style: none none solid;
    padding: 0;
  }
  
  @media (max-width: 767px) {
    .u-section-4 .u-group-1 {
      width: 540px;
    }
  
    .u-section-4 .u-form-1 {
      width: 540px;
    }
  
    .u-section-4 .u-form-2 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-4 .u-group-1 {
      width: 340px;
    }
  
    .u-section-4 .u-form-1 {
      width: 340px;
    }
  
    .u-section-4 .u-form-2 {
      width: 340px;
    }
  }.u-section-5 .u-sheet-1 {
    min-height: 272px;
  }
  
  .u-section-5 .u-group-1 {
    min-height: 241px;
    margin-top: 1px;
    margin-bottom: 0;
  }
  
  .u-section-5 .u-container-layout-1 {
    padding-bottom: 0;
  }
  
  .u-section-5 .u-text-1 {
    font-weight: 700;
    margin: 0;
  }
  
  .u-section-5 .u-table-1 {
    width: 800px;
    margin: -198px auto 30px;
  }
  
  .u-section-5 .u-table-entity-1 {
    min-height: 100px;
  }
  
  .u-section-5 .u-table-header-1 {
    font-weight: 700;
    background-image: none;
  }
  
  @media (max-width: 991px) {
    .u-section-5 .u-table-1 {
      width: 720px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-5 .u-text-1 {
      width: auto;
    }
  
    .u-section-5 .u-table-1 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-5 .u-table-1 {
      width: 340px;
    }
  }.u-section-6 .u-sheet-1 {
    min-height: 323px;
  }
  
  .u-section-6 .u-group-1 {
    width: 680px;
    min-height: 323px;
    margin: 0 auto;
  }
  
  .u-section-6 .u-text-1 {
    font-weight: 700;
    margin: 0;
  }
  
  .u-section-6 .u-form-1 {
    height: 214px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  
  .u-section-6 .u-form-group-1 {
    margin-left: 0;
  }
  
  .u-section-6 .u-form-group-2 {
    width: 100%;
  }
  
  .u-section-6 .u-btn-1 {
    border-style: none none solid;
    padding: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-6 .u-form-1 {
      margin-left: initial;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-6 .u-group-1 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-6 .u-group-1 {
      width: 340px;
    }
  }.u-section-7 .u-sheet-1 {
    min-height: 44px;
  }
  
  .u-section-7 .u-text-1 {
    width: 655px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: normal;
    margin: 0 auto 20px;
  }
  
  @media (max-width: 767px) {
    .u-section-7 .u-text-1 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-7 .u-text-1 {
      width: 340px;
    }
  }.u-section-8 .u-sheet-1 {
    min-height: 239px;
  }
  
  .u-section-8 .u-table-1 {
    width: 800px;
    margin: 1px auto 26px;
  }
  
  .u-section-8 .u-table-entity-1 {
    min-height: 100px;
  }
  
  .u-section-8 .u-table-header-1 {
    font-weight: 700;
    background-image: none;
  }
  
  @media (max-width: 1199px) {
    .u-section-8 .u-table-1 {
      height: 198px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-8 .u-table-1 {
      width: 720px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-8 .u-table-1 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-8 .u-table-1 {
      width: 340px;
    }
  }