<section class="u-clearfix u-section-1" id="sec-8395">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h3 class="u-align-center u-text u-text-1">Lista de Actas de {{this.tipoActas}}</h3>
      <div class="u-form u-form-1">
        <form action="#" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-15 u-inner-form" style="padding: 15px" source="custom">
          <div class="u-form-group">
            <label for="name-558c" class="u-form-control-hidden u-label">Name</label>
            <input (input)="filtrar($event)" type="text" id="name-558c" name="none" class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" placeholder="Buscar">
          </div>
          <div class="u-form-group u-form-submit">
            <a href="#" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-btn-submit u-button-style u-none u-text-palette-1-base u-btn-1">
              <br>
            </a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
          <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-2" id="sec-14ce">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-expanded-width u-table u-table-responsive u-table-1">
        <table class="u-table-entity u-table-entity-1">
          <colgroup>
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <col width="25%">
          </colgroup>
          <thead class="u-grey-50 u-table-header u-table-header-1">
            <tr style="height: 28px;">
              <th id="columna1" class="u-align-center u-border-1 u-border-grey-50 u-table-cell">Numero de acta</th>
              <th id="columna2" class="u-align-center u-border-1 u-border-grey-50 u-table-cell">Tema de acta</th>
              <th id="columna3" class="u-align-center u-border-1 u-border-grey-50 u-table-cell">Fecha</th>
              <th id="columna4" class="u-align-center u-border-1 u-border-grey-50 u-table-cell">Opciones</th>
            </tr>
          </thead>
          <tbody class="u-table-body">
            <tr *ngFor="let acta of actasFiltradas" style="height: 75px;">
              <td class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">{{acta.numero}}</td>
              <td class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">{{acta.tema}}</td>
              <td class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">{{acta.fecha}}</td>
              <td *ngIf="isCreable" class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                <span (click)="editar(acta)" class="u-icon u-icon-3"><img style="position: relative; top: 7px; left: -3px;" width="37px" src="assets/iconos/Editar.png"></span>
                <span (click)="eliminar(acta)" class="u-icon u-icon-4"><img style="position: relative; top: 7px; left: 0px;" width="37px" src="assets/iconos/Eliminar.png"></span>
              </td>
              <td *ngIf="!isCreable" class="u-align-center u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">
                <span (click)="ver(acta)" class="u-icon u-icon-4"><img style="position: relative; top: 7px; left: 0px;" width="37px" src="assets/iconos/Ver.png"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div><span *ngIf="isCreable" class="u-align-right u-icon u-icon-circle u-palette-5-white-2 u-spacing-7 u-icon-5">
        <img (click)="crear()" style="position: relative; top: -7px; left: -7px;" width="52px" src="assets/iconos/Agregar.png">
      </span>
    </div>
  </section>
